html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bright-yellow-crayola: hsl(36, 94%, 57%);
    --portland-orange: hsl(15, 84%, 57%);
    --battleship-gray: hsl(0, 0%, 53%);
    --silver-chalice: hsl(0, 0%, 70%);
    --spanish-gray: hsl(0, 0%, 60%);
    --sonic-silver: hsl(208, 7%, 46%);
    --raisin-black: hsl(228, 6%, 17%);
    --eerie-black: hsl(210, 3%, 13%);
    --bittersweet: hsl(9, 96%, 69%);
    --light-gray: hsl(0, 0%, 80%);
    --platinum: hsl(0, 0%, 91%);
    --amber: hsl(45, 100%, 51%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --onyx: hsl(220, 2%, 24%);
    --main-transition: 0.3s;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    font-weight: bold;
}

li {
    list-style: none;
}

header {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;
}

header.active {
    position: fixed;
    background-color: var(--white);
}

header.active ul li {
    color: black !important;
}

header.active a {
    color: black !important;
}

header.active a:hover {
    color: var(--portland-orange) !important;

}

header.active button {
    color: black !important;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 55px;
    width: calc(100% - 50px);
    padding: 0px 25px;
}

header .container .logo {
    color: var(--white);
    font-family: 'Carter One',
        cursive;
    font-size: 40px;
}

header .container ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex: 1;
    transition: var(--main-transition);
}

header .container ul li {
    transition: var(--main-transition);
}

header .container ul li a {
    color: var(--white);
    font-size: 16px;
    transition: var(--main-transition);
}

header .container .icons {
    display: flex;
    gap: 15px;
}

header .container .icons a {
    color: white;
    font-size: 16px;
    transition: var(--main-transition);
}

header .container .icons .user:hover,
header .container .icons .search:hover,
header .container .icons .special:hover {
    color: var(--portland-orange);
}

header .container .icons .special {
    position: relative;
}

header .container .icons .special span {
    position: absolute;
    top: -8px;
    right: -10px;
    font-size: 8px;
    background-color: var(--portland-orange);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header button {
    display: none;
    background: none;
    outline: none;
    border: none;
    font-size: 27px;
    transition: var(--main-transition);
    color: white;
}

@media (max-width:545px) {
    header .container .icons {
        margin-left: 12px;
    }
}

@media (max-width:991px) {
    header .container ul {
        display: none;
        background: white;
        max-width: 350px;
        width: 100%;
        position: absolute;
        top: 85px;
        left: 0;
    }

    header {
        background-color: white;
    }

    header ul li {
        color: black !important;
    }

    header a {
        color: black !important;
    }

    header button {
        color: black !important;
    }

    header .container .active {
        display: block;

    }

    header .container ul li {
        padding: 15px 20px;
    }

    header .container ul li a {
        color: var(--eerie-black);
    }

    header button {
        display: block;
    }

    .home {
        padding-top: 86px !important;
        margin-top: 86px !important;
    }

    .home .container h1 {
        font-size: 80px !important;
    }
}

.arrow {
    display: none;
}

.arrow.active {
    width: 40px;
    height: 40px;
    background-color: var(--portland-orange);
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: white;
    border-radius: 50%;
    border: none;
}

.home {
    background-image: url(../images/hero-banner.jpg);
    padding-top: 40px;
    background-size: cover;
    padding-bottom: 80px;
}

.home .container {
    display: grid;
    padding-inline-start: 10%;
}

.home .container h1 {
    color: white;
    font-size: 128px;
    font-family: 'Bangers', cursive;
    font-weight: 400;
}

.home .container h1 span {
    display: block;
    font-size: 60px;
}

.home .container p {
    color: white;
    font-size: 25px;
    margin-top: -25px;
}

.home .container a {
    display: block;
    width: fit-content;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 28px;
    margin-left: 60px;
    transition: var(--main-transition);
}

.home .container a:hover {
    background: var(--portland-orange);
}

.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.main-title {
    text-align: center;
    font-size: 35px;
}

.main-title span {
    color: var(--portland-orange);
}

.category .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.category .cards {
    display: flex;
    gap: 30px;
    text-align: center;
    padding-bottom: 30px;
}

.category .container img {
    max-width: 100%;
    transition: var(--main-transition);
}

.category .container img:hover {
    transform: scale(1.05);
}

.category .container h3 {
    color: var(--onyx);
    cursor: pointer;
    transition: var(--main-transition);
}

.category .container h3:hover {
    color: var(--portland-orange);
}

@media (max-width:545px) {
    .category .cards {
        flex-direction: column;
    }
}

.category .container .article {
    display: flex;
    gap: 15px;
}

.category .container .article .album {
    width: 100%;
    max-width: 100%;
    min-height: 145px;
    background-size: cover;
    padding: 15px;
    border-radius: 10px;
}

.category .container .article .album.dog {
    background-image: url(../images/offer-banner-1.jpg);
}

.category .container .article .album.cat {
    background-image: url(../images/offer-banner-2.jpg);
}

.category .container .article .album.bird {
    background-image: url(../images/offer-banner-3.jpg);
}

.category .container .article .album h4 {
    font-size: 13px;
    margin: 10px 0 5px;
}

.category .container .article .album p {
    margin: 21px 0;
    font-size: 25px;
    font-weight: bold;
}

.category .container .article .album p span {
    display: block;
}

.category .container .article .album a {
    padding: 10px 15px;
    background-color: var(--portland-orange);
    color: white;
    border-radius: 25px;
    margin: 10px 0;
    width: fit-content;
    transition: var(--main-transition);
}

.category .container .article .album a:hover {
    background-color: var(--eerie-black);
}

@media(max-width: 888px) {
    .category .container .article {
        flex-direction: column;
    }

    .category .container .article .album {
        width: calc(100% - 30px);
        height: 374px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:545px) {
    .category .container .article .album {
        max-width: 100%;
        height: 240px;
    }
}

.sallary {
    margin-top: 60px;
}

.sallary .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
}

.sallary .container .cards {
    padding: 15px;
}

.sallary .container .image>a {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    width: 40px;
    height: 40px;
    border: 2px solid var(--platinum);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
}

.sallary .container .image>a:hover {
    background-color: var(--portland-orange);
    border: 2px solid var(--portland-orange);

}

.sallary .container .image>a:hover i {
    color: var(--white);
}

.sallary .container .image>a i {
    transition: var(--main-transition);
    color: var(--sonic-silver);
}

.sallary .container .cards .image {
    border-radius: 8px;
    border: 2px solid var(--platinum);
    position: relative;
}

.sallary .container .cards img {
    max-width: 100%;
}

.sallary .container .cards .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.sallary .container .cards .wrapper a i {
    color: var(--light-gray);
    font-size: 14px;
}

.sallary .container .cards .wrapper .yello a i {
    color: var(--bright-yellow-crayola);
}

.sallary .container .cards p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transition);
}

.sallary .container .cards p:hover {
    color: var(--portland-orange);
}

.sallary .container .cards span {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--portland-orange);
}

.services {
    margin-top: 60px;
}

.services .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .heading {
    text-align: center;
    margin-bottom: 60px;
    font-size: 38px;
    font-weight: bold;
}

.services .heading span {
    color: var(--portland-orange);
}

.services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.services .cards .card {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.services .cards .card p {
    margin: 0;
}

.services .card p:first-of-type {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

.services .card p:last-of-type {
    color: var(--battleship-gray);
    margin-top: 15px;
    line-height: 1.5;
}

section {
    background-image: url(../images/cta-bg.jpg);
    background-repeat: no-repeat;
    background-position: 75%;
    background-size: cover;
    padding-top: 60px;
}

section .container {
    display: flex;
    justify-content: space-between;
}

section .image {
    flex-basis: 50%;
}

section .image img {
    height: 100%;
    width: 100%;
}

section .info {
    flex-basis: 50%;
    padding-top: 40px;
    text-align: left;
}

section .info h2 {
    font-size: 32px;
    font-weight: bold;
}

section .info p {
    line-height: 1.5;
    margin-bottom: 30px;
}

section .btn {
    background-color: black;
    padding: 8px 12px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 30px;
    margin-bottom: 30px;
}

@media (max-width:797px) {
    section .image {
        display: none;
    }

    section .container {
        display: block;
    }
}

.brands {
    margin-top: 60px;
    margin-bottom: 60px;
}

.brands h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    
}

.brands h2 span {
    color: var(--portland-orange);
}

.brands .images {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.brands .images .image:not(:last-of-type) {
    border-right: 1px solid var(--silver-chalice);
}

footer {
    background-image: url(../images/footer-bg.jpg);
    background-size: 100%;
    background-color: var(--raisin-black);
    color: var(--battleship-gray);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

footer .container {
    padding-top: 100px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;

}

footer .container .emails h2 {
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer .container .emails p {
    margin-bottom: 5px;
}

footer .container .emails a {
    color: var(--portland-orange);
    margin-top: 10px;
    margin-bottom: 20px;
}

.location {
    margin-top: 30px;
    color: white;
    cursor: pointer;
}

.location i {
    margin-right: 10px;
    color: var(--portland-orange);
}

.phone {
    cursor: pointer;
    margin-top: 20px;
    color: white;
}

.phone i {
    margin-right: 10px;
    color: var(--portland-orange);
}

footer ul li:first-of-type {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
}

footer ul li:not(:first-of-type) {
    margin-bottom: 15px;
}

.last-foot {
    background-color: hsl(228, 6%, 17%, 1);
    border-top: 1px solid #777;
    padding-top: 20px;
}

.last-foot .container {
    display: flex;
    justify-content: space-between;
    color: var(--battleship-gray);
}

@media(max-width:776px) {
    .last-foot .container {
        flex-direction: column;
    }
}

@media(max-width:554px) {
    .last-foot .container img {
        width: 280px;
    }

    header .container {
        gap: 0;
    }
}